.registerContainer {
     display: flex;
     height: 100vh;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
   }
 
   .leftSide {
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    color: white;
  }

  .rightSide {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    align-items: start;
    border:2px solid #D9D9D9;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
  }

   .registerForm{
     display: flex;
     flex-direction: column;
     width: 500px;
     max-width: 1000px;
   }
   
   .logo{   
    font-family: "Roboto";
    background-color: transparent; 
    display: flex;
    font-size: x-large;
    display: flex;
    align-items: center;
    font-weight: bold;
    border: transparent;
    justify-content: center;
    justify-items: center;}



.heading{
  font-size: 1.5rem;
    font-weight: 200;
    font-family: "Open Sans";
    margin-top: 20px;
    margin-bottom: 20px;
    color: #343434;
}
   .emailLabel {
     position: relative;
   }
   .emailIcon {
     position: absolute;
     top: 50%;
     right: auto;
     height: 100%;
     transform: translateY(-50%);
   }

   .emailInput {
     padding-left: 0px; 
   }

   .inputfield{
    border-radius: 10px;
    border-color: #D0D0D0;
    padding: 10px;
    font-weight: 400;
    font-size: 1.2rem;
    font-family: "Roboto";
    min-width: 80%;
    margin: 10px;
   }

   .submitbtn{
    border-radius: 10px;
    border: none;
    border-color: transparent;
    background-color: #2E0052;
    color: white;
    padding: 10px;
    font-weight: 400;
    font-size: 1.3rem;
    font-family: "Roboto";
    margin: 10px;
   }

   .signin{
    text-align: center;
    border-color: #2E0052;
    color: #828282;
    padding: 10px;
    font-weight: 400;
    font-size: 1.3rem;
   }


   .signinbtn{
    border-radius: 10px;
    border: 2px solid;
    text-align: center;
    border-color: #2E0052;
    color: #2E0052;
    padding: 10px;
    font-weight: 400;
    font-size: 1.3rem;
    font-family: "Roboto";
    margin: 10px;

   }