select {   appearance: none;
     background-color: transparent;
     border: none;
     padding: 0 1em 1em 0;
     margin: 0;
     width: 100%;
     font-family: 'Roboto';
     font-family: inherit;
     font-size: inherit;
     cursor: inherit;
     line-height: inherit;
   }
   .filterbar{
    width: 70%;
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    border-radius: 40px;
    border: 1px solid transparent;
    padding: 3%;
    padding-bottom: 0px;
   }

   .filterbutton{    
  width: 300px;
  display: flex;
  flex-direction: row;
  color:white;
  font-family: "Roboto";
  background-color: #1D7000;
  cursor: pointer;
  border-radius: 20px;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
   }
   .clearfilterbutton{    
  width: 300px;
  display: flex;
  flex-direction: row;
  color:#1D7000;
  font-family: "Roboto";
  cursor: pointer;
  border-radius: 20px;
  align-items: center;
  background-color: white;
  border: 1px solid #1D7000;
  justify-content: space-around;
  padding: 10px;
   }