.inputContainer {
     display: flex;
     flex-direction: row;
     margin-bottom: 10px;
     width: 90%;
     align-items: center;
     justify-content: space-between;
   }
   
   .label {
     font-weight: bold;
     margin-bottom: 5px; 
   }
   
   .inputField {
     border: 1px solid #ccc;
     border-radius: 5px;
     width: 50%;
     padding: 5px 10px; 
   }